<div id="fs_modal_header">
  <h3>Account Preferences
    <i class="fa fa-times link" [routerLink]="['/calendar']"></i>
  </h3>
</div>

<div class="container">
  <div class="row">

    <div class="offset-md-3 col-md-6 card">

      <div class="account-info">
        Email: {{user.email}}
        <div *ngIf="accountType == 'FREE'">
          <br> Version: Not Paid
          <br> Upgrade to paid Version by paying below
        </div>

        <div *ngIf="accountType == 'EXPIRED'">
          <br> Version: Expired
          <br> Expired: {{expDate}} Please pay your monthly bill to continue service
        </div>

        <div *ngIf="accountType == 'CURRENT'">
          <br> Version: PAID
          <br> Expires: {{expDate|date:'short'}}

        </div>
      </div>

      <div *ngIf="accountType != 'CURRENT'" class="payment-section">
        <label for="card-element">
          Credit or debit card
        </label>
        <div id="card-element">
          <!-- A Stripe Element will be inserted here. -->
        </div>

        <!-- Used to display form errors. -->
        <div id="card-errors" role="alert"></div>
        <br>

        <button (click)="submitPayment()" class="btn btn-success">Submit Payment</button>

      </div>
    </div>
  </div>
