<!-- navbar header -->
<div class="col-md-12 header">
    <div class="row">
            <a class="navbar-brand" href="https://www.scheduly.app">Scheduly</a>
    </div>
</div>
<!-- end of navbar header -->
<div class="offset-md-2 col-md-4">

    <div class="title">
        <h1>Login</h1>
    </div>

    <form (ngSubmit)="loginUser()" [formGroup]="userForm">

        <div class="form-group">
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email Address">
            <div *ngIf="!(userForm.valid||userForm.get('email').pristine) && userForm.get('email').hasError('required')"
                class="alert alert-danger">
                Email is required
            </div>
            <div *ngIf="!(userForm.valid||userForm.get('email').pristine || userForm.get('email').hasError('required')) && userForm.get('email').hasError('email')"
                class="alert alert-danger">
                Email is not valid
            </div>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" id="password" formControlName="password" pattern=".{5,}"
                placeholder="Password">
            <div *ngIf="!(userForm.valid||userForm.get('password').pristine) && userForm.get('password').hasError('required')"
                class="alert alert-danger">
                Password is required
            </div>
        </div>

        <button type="submit" class="btn btn-success">Login</button>
        <a href="javascript:void(0)" (click)="goToSignup()" class="signup-text">Don't have an account?</a>
    </form>
</div>