<h1>Una Scheduling</h1>
todays date:{{today | date:'fullDate'}}
{{dayOfMonth}}
<br>
Month: {{monthsTxt[month]}}
<i class="fa fa-arrow-left" aria-hidden="true" (click)="decreaseMonth()"></i>
<i class="fa fa-arrow-right" aria-hidden="true" (click)="increaseMonth()"></i>
<div class="containter">


  <div *ngFor="let day of Object.keys(appointments[month])" class="card" [ngClass]=" {'float-left': day%7!=0}" [ngStyle]=" {'background-color': dayOfMonth == day? 'red':'white'}" style="width: 9rem;">
    <div class="card-body" (dblclick)="openModal(template, day)">
      <h5 class="card-title">{{day}}</h5>

      <div *ngFor="let appt of appointments[month][day]">
      <a href="#" class="card-link">{{appt.name}}</a>
      </div>
    </div>
  </div>
 </div> 

<!-- TODO extract to separate component -->
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      name of appointment: <input #appt type="text"/>
      <button class="btn btn-success" (click)="saveAppt(appt.value)">save</button>
    </div>
    
  </ng-template>