<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 header">
      <div class="row">

        <div class="col-sm-2 search-input">
          <form (ngSubmit)="searchAppts(searchInput.value)" #searchForm="ngForm">
            <div class="form-group">
              <input type="text" class="form-control input-lg" style="outline:none" id="searchInput" #searchInput
                placeholder="Search" />
              <i class="fa fa-search"></i>
            </div>
          </form>
        </div>

        <div class="col-sm-8 text-center">
          <!-- TODO transitions from month to month and hover over each card-->
          <i class="fa fa-caret-left month-arrow" (click)="decreaseMonth()"></i>
          <span class="month-carousel">{{monthsTxt[month]}} {{year}}</span>
          <i class="fa fa-caret-right month-arrow" (click)="increaseMonth()"></i>
        </div>

        <div class="col-sm-2">
          <app-account-widget></app-account-widget>
        </div>
      </div>
    </div>

    <div class="calendar" [ngClass]=" showResults ? 'col-md-9': 'col-md-12'">
      <div *ngFor="let day of daysTxt; let i of index;" class="card card-day" [ngClass]="{'float-left': i%7!=0}">
        {{day}}
      </div>
      <br>
      <!-- days from previous month -->
      <div *ngFor="let day of dayOfWeekFirstOfMonth" class="card card-month float-left prev-day">
        <div class="card-body">
        </div>
      </div>

      <!-- TODO fix the conditional styling - this fucks up when year changes -->
      <div *ngFor="let day of Object.keys(appointments[year][month]); let i of index;" class="card card-month"
        [ngClass]="{'float-left': i +dayOfWeekFirstOfMonth.length %7!=0, 'is-today-card':(dayOfMonth == day) && (currentMonth == month)}">

        <div class="card-body" (dblclick)="openModal(template, month, day)">

          <p class="card-title day-title">{{day}}</p>

          <div *ngFor="let appt of appointments[year][month][day]; index as i;">
            <!-- appt entry -->
            <div class="card-link hvr-grow" (click)="selectAppt(month, day, i, appt.id)" (dblclick)="editAppt(template, month, day, i)"
              [ngClass]="isSelected(appt.id) ? 'card-link-selected' : 'card-link'">
              {{appt.title}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Results Pane-->
    <div *ngIf="showResults" class="col-md-3 search-results">
      <div class="row results-header">
        <div class="col-sm-10 text-left">
          <p>Search Results</p>
        </div>
        <div class="col-sm-2 text-right">
          <i class="fa fa-times link" (click)="showResults=!showResults"></i>
        </div>
      </div>

      <div *ngIf="searchResults.length < 1">
        <p>No results found matching:
          <b>{{searchParam}}</b>
        </p>
      </div>

      <div *ngFor="let result of searchResults" class="results-disp jumbotron link" (click)="selectResult(result.date)">
        <h3>{{result.title}}</h3> {{result.date|date:'fullDate'}}
      </div>
    </div>

  </div>
</div>


<!-- TODO extract to separate component -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create Appointment</h4>
  </div>
  <!-- TODO make sure its selected when open-->
  <div class="modal-body">

    <form #apptForm="ngForm">
      <div class="form-group row">
        <label for="title" class="col-md-2 col-form-label">Info</label>
        <div class="col-md-10">
          <input type="text" name="title" class="form-control" id="title" [(ngModel)]="appointment.title" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="time" class="col-md-2 col-form-label">Time</label>
        <div class="col-md-10 text-center">
          <timepicker [(ngModel)]="mytime" [showMeridian]="true" id="time" [(ngModel)]="appointment.time" name="time"></timepicker>
        </div>
      </div>
      <div class="form-group row">
        <label for="tel" class="col-md-2 col-form-label">Phone </label>
        <div class="col-md-10">
          <input type="tel" class="form-control" name="tel" [(ngModel)]="appointment.phoneNumber" required>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
      <button type="submit" class="btn btn-save" (click)="saveAppt()" [disabled]="!apptForm.form.valid">Save</button>
    <button class="btn btn-cancel" (click)="cancelAppt()">Cancel</button>
  </div>
</ng-template>